.todoLink {
  text-decoration: none;
  color: #000;
}

.todo {
  position: relative;
  background: #fff;
  width: 60%;
  height: 70%;
  padding: 10px;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 200ms linear;
}

.todo:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.todo > span {
  font-size: 1.5rem;
  font-weight: 600;
}
.todo div span {
  font-size: 1.25rem;
}

#todoStatus {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 1.15rem;
  text-transform: uppercase;
}
