.heading {
  height: 50px;
  width: 250px;
  margin: 50px auto;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

#fabContainer {
  position: fixed;
  top: 75%;
  right: 50px;
}
